i{
    font-size: 40px;
    color: red;
}

.iconodelete{
  font-size: 20px;
  color: rgb(170, 45, 45);
}

.iconoedit{
  font-size: 20px;
  color: rgb(66, 66, 238);
}

.custom-img {
    width: 180px;
    height: 200px;
    object-fit: cover;
  }

  .custom-row {
    height: 200px; /* Ajusta la altura deseada */
  }
  .youtube-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    color: #ff0000;
    font-size: 24px;
    margin: 10px;
  }
  