<figure class="text-center">
    <blockquote class="blockquote">
      <p class="h2">Autores</p>
    </blockquote>
  </figure>
<button class="btn btn-primary" style="margin-bottom: 0.15cm;" [routerLink]="['/autor/create']">
    Crear Nuevo
</button>
<div *ngFor="let autor of autores[0]" class="card card-body mb-2">
    <div class="row">
        <div class="col-md-8">
            <ul style="list-style: none;">
                <li>
                    <b>ID: </b>{{autor._id}}
                </li>
                <li>
                    <b>Nombre: </b>{{autor.nombre}}
                </li>
                <li>
                    <b>Nacionalidad: </b>{{autor.nacionalidad}}
                </li>
                <li>
                    <b>Fecha de Nacimiento: </b>{{autor.fechaNacimiento}}
                </li>
                <li>
                    <a href="{{autor.urlYouTube}}"><i class="bi bi-youtube"></i></a>                    
                </li>
            </ul>
            <button class="btn btn-danger" style="margin-right: 0.10cm;" (click)="deleteAutor(autor._id)"> 
                Eliminar
            </button>
            <button class="btn btn-secondary"  [routerLink]="['/autor/update',autor._id]">
                Editar
            </button>
        </div>
        <div class="col-md-4" >
            <img [src]="autor.urlFoto" class="card-img img-thumbnail" >
        </div>
    </div>  
</div>